
h1.stopClock{
   display: inline-block; 
}

h1.stopClock.text{
    margin-inline-start: 80%;
 
}

h1.prompt{
    margin-inline-start: 25%;
}

.answers{
    display: block;
    margin-left: 25%;
}

#spanId{
    display: block;
    margin-left: 25%;
    visibility: visible;
}

.start{
    display: block;
    margin-left: 50%;
}

#hideMe{
    visibility: hidden;
}

#startBtn{
    visibility: visible;
}

#promptId{
    visibility: visible;
}

/* .myText{
    display: inline-block;
} */

#submitCard{
    margin-left: 25%;
    visibility: hidden;
}

#highScoreCard{
    margin-left: 25%;
    visibility: hidden;
}
